---
title: Daria Frick - Fotografin
---

<div class="home">
  <h1>Daria Frick</h1>
  <h2><span>Foto</span>grafin</h2>

  <p>
  	<span>frick.daria@gmail.ch</span>
  	<span>0787585314</span>
  </p>
  <!-- .doc
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p> -->
</div><!-- .home -->